.homepage {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.bgHP1 {
  background-color: rgb(215, 237, 250);
  transition: transform 0.6s ease;
}

.bgHP2 {
  background-color: rosybrown;
  transition: transform 6s ease;
  animation: myanimation 1s;
}

@keyframes myanimation {
  0% {
    background-color: transparent;
    color: transparent;
  }
  100% {
    background-color: gray;
    color: rosybrown;
  }
}
