.about {
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 236, 235);
}

.aboutContent {
  display: flex;
  width: 60vw;
}

.aboutDescripion {
  flex: 2;
}

.aboutDescripion p {
  margin-left: 50px;
}

.aboutContact {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutContactInside {
  display: flex;
  flex-direction: column;
}

.aboutContact a {
  text-decoration: none;
}

.aboutPhoto {
  width: 40%;
  height: auto;
  max-height: 100vh;
}

@media (max-width: 1200px) {
  .aboutContent {
    width: 70vw;
    padding: 0 50px;
    flex-direction: column;
    align-items: flex-start !important;
  }

  .aboutDescripion p {
    margin-left: 0px;
  }

  .aboutDescripion {
    width: 100%;
    padding-top: 30px;
  }

  .aboutContact {
    padding-top: 30px;
  }
}

@media (max-width: 900px) {
  .about {
    flex-direction: column-reverse;
  }

  .aboutContact {
    padding-bottom: 30px;
  }

  .aboutPhoto {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .aboutContent {
    width: 95vw;
  }
}
