img {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.gallery {
  //width: calc(100vw - 60px);
  width: 75vw;
  padding-top: 12vh;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.partOfgallery {
  padding: 0;
  margin: 0 !important;
  padding: 1px 0;
}

.galleryTravels,
.galleryCats,
.galleryMountains,
.galleryPoland {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.galleryTravels {
  background-color: rgb(234, 238, 238);
  width: 100vw;
}

.galleryCats {
  background-color: rgb(241, 236, 228);
}

.galleryMountains {
  background-color: rgba(240, 236, 231, 0.842);
  width: 100vw;
}

.galleryPoland {
  background-color: rgb(241, 241, 233);
  width: 100vw;
}

@media (max-width: 1600px) {
  .gallery {
    width: 90vw;
  }
}

@media (max-width: 768px) {
  .gallery {
    margin: 0 !important;
    padding: 0 !important;
  }

  .photoMobileHidden {
    display: none;
    height: 0;
    margin: 0 !important;
    padding: 0 !important;
  }

  .photoMobileBottom0{
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  .photoMobileBTop0{
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

}
