.homepage {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box; 
  background-color: rgb(241, 240, 236);
  padding-top: 100px;  
  padding-bottom: 50px;
}

.homepageGallery{
  width: 85vw;
}


.displayMobile{
  display: none;
}

@media (max-width: 760px) {
  .displayMobile{
    display: block;
  }

  .displayDesktop{
    display: none;
  }
}
