.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  padding-top: 8vh;
}

.projectRow {
  width: 90vw;
  display: flex;
  margin-bottom: 2px;
}

.projectEl {
  flex: 1;
  box-sizing: border-box;
}

.projectElLink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.projectElImage {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 45vw;
  height: 30vw;
  opacity: 1;
  position: relative;

  h3 {
    position: absolute;
    z-index: 4;
    bottom: 20px;
    right: 20px;
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 4px;
    padding-top: 5px;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 1.8;
  }

  &:hover {
    filter: brightness(0.8);
    transition: all 0.3s;
  }
}

.projectElImageMountains {
  background-image: url("../assets/images/mountains/gory6.png");
}

.projectElImageTravels {
  background-image: url("../assets/images/chorwacja/chorwacja8.jpg");
}

.projectElImagePoland {
  background-image: url("../assets/images/polska/pol38.png");
}

.projectElImageCats {
  background-image: url("../assets/images/diff/dif8.jpg");
}

.projectElImagePets {
  background-image: url("../assets/images/pets/miya1.png");
}

.projectElImageSituations {
  background-image: url("../assets/images/diff/dif16.jpg");

  @media (max-width: 1430px) {
    .projectElImage {
      h3 {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 911px) {
  .projectRow {
    flex-direction: column;
    width: 100vw;
    margin-bottom: 0;
  }

  .projectElImage {
    width: 100vw;
    height: 66.7vw;
    h3 {
      font-size: 22px;
    }
  }
}

@media (max-width: 769px) {
  .projects {
    padding-top: 30px;
  }
}
