.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  padding-top: 8vh;
  background-color: rgb(234, 238, 238);
}

.projectRow {
  width: 90vw;
  display: flex;
}

.projectEl {
  flex: 1;
  box-sizing: border-box;
  // border: 1px solid red;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
}

.projectEl h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 4px;
  padding-top: 5px;
  display: none;
}

.projectElLink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.projectEl:first-child {
  background-color: rgb(234, 238, 238);
}

.projectEl:nth-child(2) {
  background-color: rgba(240, 236, 231, 0.842);
}

.projectEl:nth-child(3) {
  background-color: rgb(241, 241, 233);
}

.projectEl:nth-child(4) {
  background-color: rgb(241, 236, 228);
}

.projectEl:nth-child(5) {
  background-color: rgb(235, 243, 243);
}

.projectEl:nth-child(6) {
  //background-color: rgb(248, 248, 242);
  background-color: rgba(240, 236, 231, 0.842);
}

.projectElImage {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50vw;
  height: 30vw;
}

.projectElImageMountains {
  background-image: url("../assets/images/mountains/gory6.png");
}

.projectElImageTravels {
  background-image: url("../assets/images/chorwacja/chorwacja7.jpg");
}

.projectElImagePoland {
  background-image: url("../assets/images/polska/pol38.png");
}

.projectElImageCats {
  background-image: url("../assets/images/diff/dif8.jpg");
}

.projectElImageSituations {
  background-image: url("../assets/images/diff/dif16.jpg");
}

@media (max-width: 768px) {
  .projects {
    padding-top: 0px;
  }
  .projectEl {
    width: 100vw;
    height: 70vw;
  }

  .projectElImage {
    width: 90vw;
    height: 60vw;
  }
}
