img {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.gallery {
  width: 75vw;
  padding-top: 100px;
  box-sizing: border-box;
}

.partOfgallery {
  padding: 0;
  margin: 0 !important;
  padding: 12px 0;
}

.galleryTravels,
.galleryCats,
.galleryMountains,
.galleryPoland {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.galleryTravels {
  background-color: rgb(234, 238, 238);
  width: 100vw;
}

.galleryCats {
  background-color: rgb(241, 236, 228);
}

.galleryMountains {
  background-color: rgba(240, 236, 231, 0.842);
  width: 100vw;
}

.galleryPoland {
  background-color: rgb(241, 241, 233);
  width: 100vw;
}
