
.icon-fog-sun:before { content: '\e800'; } /* '' */
.icon-facebook-circled:before { content: '\e801'; } /* '' */
.icon-fivehundredpx:before { content: '\e802'; } /* '' */
.icon-basket:before { content: '\e803'; } /* '' */
.icon-flight:before { content: '\e804'; } /* '' */
.icon-heart-empty:before { content: '\e805'; } /* '' */
.icon-flight-1:before { content: '\e806'; } /* '' */
.icon-umbrella:before { content: '\e807'; } /* '' */
.icon-cloud-sun:before { content: '\e808'; } /* '' */
.icon-camera:before { content: '\e809'; } /* '' */
.icon-coffee:before { content: '\e80a'; } /* '' */
.icon-anchor:before { content: '\e80b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
