
.icon-sun:before { content: '\e800'; } /* '' */
.icon-address:before { content: '\e801'; } /* '' */
.icon-fog-sun:before { content: '\e802'; } /* '' */
.icon-facebook-circled:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-emo-happy:before { content: '\e805'; } /* '' */
.icon-paper-plane:before { content: '\e806'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-pagelines:before { content: '\f18c'; } /* '' */